.attribute {
    display: flex;
    margin-bottom: 20px;
}
.attribute h1{
    width: 300px;
    font-size: 24px;
    color: cadetblue;
}
.launch-view {
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
}
.launch-view .launch-description {
    color: gray;
}
.launch-view img {
    width: 900px;
    height: 600px;
}
.launch-view p {
    font-size: 20px;
}